.dropdown-toggle {
    > button:focus {
        outline: 0;
    }
}

.dropdown-menu-link {
    @apply .block .text-default .no-underline .text-sm .leading-loose .px-4;

    &:hover {
        background: rgba(0, 0, 0, 0.1)
    }
}
