<template>
  <div class="flex items-center mr-8">
    <button
      class="rounded-full w-4 h-4 bg-default border mr-2 focus:outline-none"
      :class="{ 'border-accent': selectedTheme == 'theme-light' }"
      @click="selectedTheme = 'theme-light'"
      style="background: #f5f6f9"
    ></button>

    <button
      class="rounded-full w-4 h-4 bg-default border mr-2 focus:outline-none"
      :class="{ 'border-accent': selectedTheme == 'theme-dark' }"
      @click="selectedTheme = 'theme-dark'"
      style="background: #222"
    ></button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selectedTheme: "theme-light"
    };
  },
  created() {
    this.selectedTheme = localStorage.getItem("theme") || "theme-light";
  },
  watch: {
    selectedTheme() {
      document.body.className = this.selectedTheme + " bg-page";

      localStorage.setItem("theme", this.selectedTheme);
    }
  }
};
</script>
